<% if logged_in? %>
  <div class="center">
    <h1>Business Intelligence</h1>
    <h3>Inteligencia para los negocios</h3>
  </div>
  <div>
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
  </div>
<% else %>
  <div class="center jumbotron extra-width">
    <h1>Business Intelligence</h1>
    <h3>Inteligencia para los negocios</h3>
    <div>
      <%= link_to "Logueate", loguearse_path, class: "btn btn-lg btn-primary", id: "bot_registrarse" %>
    </div>
    <div>
      ¿Sos un agente nuevo? <%= link_to "Registrate", registrarse_path %>
    </div>
  </div>
<% end %>
  
