<div class="center jumbotron">
  <h1>Business Intelligence</h1>
  <h3>Inteligencia para los negocios</h3>

<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
    </aside>
  </div>
<% else %>
  <div>
    <%= link_to "Logueate", loguearse_path, class: "btn btn-lg btn-primary", id: "bot_registrarse" %>
  </div>
  <div>
    ¿Sos un agente nuevo? <%= link_to "Registrate", registrarse_path %>
  </div>
<% end %>
