<div class="btn-group-vertical">
  <%= link_to "Editar", edit_contacto_path, class: "btn btn-primary rojo" %>
  <% if current_user.admin? %>
    <%= link_to "Borrar", contacto_path, method: :delete, data: { confirm: '¿Seguro?' }, class: "btn btn-primary rojo" %>
  <% end %>
  <%= link_to "Deals", deals_contacto_path, class: "btn btn-primary azul" %>
  <%= link_to "Nuevo deal", nuevo_deal_contacto_path, class: "btn btn-primary verde" %>
</div>



