
<% provide(:title, "Deals de #{@contacto.nombre_completo}") %>
<h1>Deals de <%= @contacto.nombre_completo %></h1>
<div class="contactos-deals">
  <table class="table table-condensed tabla-deals">
    <theader></theader>
    <%= render partial: 'shared/deal', collection: @deals, as: :deal %>
  </table>
</div>


