<% provide(:title, 'Deals') %>
<h1>Deals <%= @producto.nombre %></h1>

<table class="table table-condensed tabla-deals">
  <theader></theader>
  <%= render partial: 'shared/deal', collection: @deals, as: :deal %>
</table>
