<div class="btn-group-vertical">
  <%= link_to "Editar", edit_empresa_path, class: "btn btn-primary rojo" %>
  <%= link_to "Deals", deals_empresa_path, class: "btn btn-primary azul" %>
  <%= link_to "Nuevo contacto", nuevo_contacto_empresa_path, class: "btn btn-primary verde" %>
</div>
