@import "bootstrap-sprockets";
@import "bootswatch/darkly/variables";
@import "bootstrap";
@import "bootswatch/darkly/bootswatch";
@import 'colores';
@import 'bootstrap_overwrites';

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* Arreglos temporales */
#contr-notificaciones, #contr-iconos {
    min-height: 70px;
}


/* universal */

body {
    /*padding-top: 60px;*/
    background: black;
}
div#main-row div.modulo {
    background: $gris;
}
div#contr-sidebar, div#contr-iconos, div#contr-notificaciones {
    background: $gris_azul;
}

#contr-main-body {
  &>h1 {
      color: $gris_titulo;
      /*margin-bottom: 20px;*/
  }
}
#contr-user-card {
    a {
	font-family: 'Multicolore';
	color: white;
	&:hover {
	    text-decoration: none;
	    color: $verde_logo1;
	}
    }
}

/* Dropdowns */
a.dropdown-toggle, div.dropdown {
    display: inline !important;
}

/* Divider */ 
.divider {
    min-height: 1px;
    background-color: white;
}


section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
      margin-bottom: 10px;
  }
}

.jumbotron ul {
    list-style: none;
    li {
	margin: 10px; 
    }
}
.tareas {
    text-align: left;
    ul {
	display: flex;
    }
}

/* Margenes para que se vea el fondo negro abajo */
.row {
    margin-bottom: 20px;
}
.col-izq {
    margin-right: $grid-gutter-width;
}
.col-der {
    margin-left: $grid-gutter-width;
}


#contr-logo {
    text-align: center;
    padding: 10px;
    background-color: $fondo_logo;
}
#logo {
    img {
	max-height: 50px;
}
  &:hover {
      color: white;
      filter: hue-rotate(45deg);
  }
}

#cuerpo {
    /*margin-top: 2em;*/
}

.footer {
	text-align: center;
	background: $verde_logo2;
	margin-top: 45px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 1em;
	border-top: 1px solid $gris_borde;
	color: $gris_claro;
	a {
	    color: $gris_claro;
	    &:hover {
		color: $negro;
	    }
	}
	small {
	    float: left;
	}
	ul {
	    float: right;
	    list-style: none;
	    li {
		float: left;
		margin-left: 15px;
	    }
	}
	img {
	    max-width: 300px;
	}
}

.navbar {
    img {
	max-width: 70px;
    }
}
.invis {
    background: rgba(0,0,0,0) !important;
    background-image: none !important;
    border: 0px !important;
}

.btn-primary {
    margin-top: 1em;
    margin-bottom: 1em;
}

.btn-secondary {
    border: 1px solid $gris_titulo;
    border-radius: 3px;
    padding: 0.5em;
}

/* sidebar */
#form-sidebar {
    padding: 1em;
    border: 2px solid $negro;
    border-radius: 5px;
    background: $negro;
    h1, h2, h3, h4, h5, h6 {
	margin-top: 10px;
	margin-bottom: 20px;
    }
}
.user_info {
    padding-top: 30px;
    text-align: center;
}
.user_btns {
    float: right;
    margin-top: 40px !important;
}
aside {
  section.user_info {
    margin-top: 40px !important;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
    margin: 10px;
    /*width: 90%;*/
    border: 2px solid $negro;
    border-radius: 50%;
}
.gravatar-100px {
    max-width: 100px;
}
.gravatar-200px {
    max-width: 200px;
}
.gravatar_edit {
  margin-top: 15px;
}

/* forms */
.auto-width {
    width: auto;
}
.inline-form {
    display: inline;
}
div.edit {
    margin-top: 30px;
}
.fecha-input {
    clear: both;
    select {
	width: 70px;
    }
}
input, textarea, select, .uneditable-input {
  border: 1px solid $gris_borde;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}
label {
    margin-right: 20px;
}
/*input, select, .uneditable-input {
  max-width: 150px;
}*/
.full-width {
    width: 100%;
}

input {
  height: auto !important;
}

#error_explanation {
  color: $rojo_web;
  ul {
    color: $rojo_web;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}
.etiqueta {
    /*font-style: italic;*/
    color: $gris_titulo;
}

/* Sidebar users */
#users_sidebar {
    margin-top: 60px;
}
.sidebar-menu {
    list-style: none;
    border: 1px solid $negro;
    border-radius: 5px;
    padding: 0;
    text-align: center;
    a {
	margin: 0;
	text-decoration: none;
	color: black;
	&.nav-item-gral {
	    background: $azul_mktg_50;
	    &:hover {
		background: $azul_mktg;
	    }
	}
	&.nav-item-propio {
	    background: $rojo_web_50;
	    &:hover {
		background: $rojo_web;
	    }
	}
	&:hover {
	    font-weight: bold;
	    color: white;
	}

    }
}


/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* Deals */
.deal_edit_btns {
    margin: 0;
    float: right;
}
.btn.rojo {
    background: $rojo_web;
    border-color: $negro;
}
.btn.verde {
    background: $verde_app;
    border-color: $negro;
}
.btn.azul {
    background: $azul_asesoria;
    border-color: $negro;
}
.btn.gris {
    background: $gris;
    border-color: $negro;
}
.btn-new_deal {
    background: $rojo_web;
    border-color: $negro;
}
.btn-group-vertical {
    .btn {
	margin-bottom: 0px !important;
    }
}
.back-verde-linkable {
/*    background: rgba(131, 170, 48, 0.75) !important; */
    cursor: pointer;
}
li.deal {
    padding-left: 1em;
    padding-right: 1em;
}
.deal_form {
    border-radius: 5px;
    margin-top: 0px;
    background: $gris_claro;
    h1, h2, h3, h4, h5 {
	margin-left: 15px;
	color: $verde_logo1;
	margin-top: 10px;
	margin-bottom: 15px;
    }
}
.form-solo {
    margin-top: 40px;
}
#new_deal {
    margin-left: 15px;
    margin-right: 15px;
}
li.deal {
    margin-top: 1em;
    border-top: 1px solid $gris_claro;
    padding: 10px 0 0 0;
    &:first-child {
	margin-top: 2em;
    }
}
#deal-acciones {
    margin-top: 65px;
}
.empresa-deal {
    margin-top: 25px;
    margin-bottom: 15px;
}
#deal-main, #empresa-main {
    #deal-estado, #deal-posesion {
	font-size: 150%;
	font-weight: bold;
	margin-bottom: 20px;
    }
}
.deal {
    .btn-edit_deal {
	background: $azul-edit_deal;
    }
    .btn-new_accion {
	background: $verde_app;
    }
    .btn {
	color: $negro;
	border: 1px solid $negro;
	padding: 0.2em 0.5em !important;
	a:hover {
	    text-decoration: none;
	}
    }
}
.deal-fechas {
    margin-bottom: 1em;
}
.titulo-empresa {
    color: $rojo_web;
}
.deal-empresa {
    font-family: Multicolore;
}
.empresa {
    font-size: 120%;
}
.deal-user {
    color: gray;
    font-size: 120%;
}
.deal-contacto {
    font-size: 120%;
}
.posesion-true {
    color: $rojo_web;
}
.posesion-false {
    color: $azul_mktg;
}
.estado {
    font-weight: bold;
}
.estado-ganado {
    color: $verde_app;
}
.estado-perdido {
    color: $rojo_web;
}
.estado-en_progreso {
    color: $azul_mktg;
}
.deals-propios {
    clear: both;
    margin-top: 60px;
}
.codeals {
    clear: both;
    margin-top: 60px;
}
.tabla-deals, .tabla-codeals {
    tr:nth-child(even) {
	background: $back_tabla_1;
    }
    tr:nth-child(odd) {
	background: $back_tabla_2;
    }
}
.btn-compa {
    width: 50%;
    position: relative;
}
.btn-echar {
    background: $gris_claro;
    &:hover {
	background: $hover_echar;
    }
}
.btn-invitar {
    background: $gris_claro;
    &:hover {
	background: $hover_invitar;
    }
}
.titulo-compa {
    width: 50%;
    font-weight: bold;
    font-size: 120%;
    text-align: center;
}
.participa {
    position: relative;
    left: 0;
}
.no_participa {
    position: relative;
    left: 50%;
}
#companeros-edit {
    margin-top: 40px;
    display: flex;
}

/* Empresas */
#empresa-resumen {
    ul {
	list-style: none;
    }
    h2 span {
	color: $gris_nav;
    }
}
.ultimo-deal {
    border: 1px solid $gris_nav;
    border-radius: 5px;
    background: $gris_claro;
    padding: 10px 15px;
}

/* Contactos */
#contacto-resumen {
    ul {
	list-style: none;
    }
    h2 span {
	color: $gris_nav;
    }
}

/* Productos */
li.producto {
    line-height: 200%;
}
.producto-nombre {
    font-family: Multicolore;
}

/* Index en gral */
ul.listado_index {
    list-style: none;
}

/* Simple Calendar */
.simple-calendar {
    td {
	height: 100px;
	width: 14.28%;
    }
}


ul#mensajes-list {
    li {
	/*font-family: Josefin;*/
	/*font-size: 16px;*/
	span.mensaje-fecha, p.mensaje-fecha, div.mensaje-fecha {
	    color: $gris;
	    /*font-family: Montez;*/
	    /*font-size: 18px;*/
	}
    }
}
li.comentario {
    text-align: left;
    .comentario-user {
	font-weight: bold;
    }
    p.comentario-fecha {
	text-align: right;
	float: right;
	margin-left: 1em;
    }
}
.list-group-item {
    border-right: 1px solid $gris;
    border-left:  1px solid $gris;
    border-bottom: 1px solid $gris;
}
.list-group-item:first-of-type {
    border-top: 1px solid $gris;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.list-group-item:last-of-type {
    border-bottom: 1px solid $gris;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.new_comentario {
    width: 100%;
    textarea {
	width: 100%;
/*	font-family: Josefin;
	font-size: 16px; */
    }
}

/* Glyphicons */
.glyphicon-arrow-left { color: $verde_logo1; }
.glyphicon-arrow-right { color: $azul_mktg; }
.glyphicon-ok { color: $verde_app; }
.glyphicon-remove { color: $rojo_web; }