@import "bootstrap-sprockets";
@import "bootstrap";

/* Colores Macher */
$rojo_web: #e74700;
$rojo_web_50: rgba(231, 71, 0, 0.5);
$verde_app: #83aa30;
$azul_mktg: #4D6684;
$azul_mktg_50: rgba(77, 102, 132, 0.49);
$azul_asesoria: #1499D3;
$gris: #3d3d3d;
$verde_logo1: #41b28e;
$verde_logo2: #018580;
$gris_nav: #ccc;
$back_tabla_1: rgba(170, 228, 209, 0.68);
$back_tabla_2: rgba(145, 221, 218, 0.71);

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* universal */

body {
  padding-top: 60px;
}
.main-body {
  &>h1 {
      margin-bottom: 40px;
  }
}
section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
      margin-bottom: 10px;
  }
}

.jumbotron ul {
    list-style: none;
    li {
	margin: 10px; 
    }
}
.extra-width {
    width: 120%;
}

.tareas {
    text-align: left;
    ul {
	display: flex;
    }
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
      color: #fff;
      text-decoration: none;
      filter: hue-rotate(45deg);
  }
}

#cuerpo {
    margin-top: 2em;
}

.footer {
	text-align: center;
	background: $verde_logo2;
	margin-top: 45px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 1em;
	border-top: 1px solid #eaeaea;
	color: #dddddd;
	a {
	    color: #dddddd;
	    &:hover {
		color: #222;
	    }
	}
	small {
	    float: left;
	}
	ul {
	    float: right;
	    list-style: none;
	    li {
		float: left;
		margin-left: 15px;
	    }
	}
	img {
	    max-width: 300px;
	}
}

.navbar img {
	max-width: 70px;
}

.btn-primary {
    margin-top: 1em;
    margin-bottom: 1em;
}

.btn-secondary {
    border: 1px solid #bbbbbb;
    border-radius: 3px;
    padding: 0.5em;
}

/* sidebar */
#form-sidebar {
    padding: 1em;
    border: 2px solid #333;
    border-radius: 5px;
    background: #eee;
    h1, h2, h3, h4, h5, h6 {
	margin-top: 10px;
	margin-bottom: 20px;
    }
}
div.user_info {
    padding-top: 30px;
    text-align: center;
}
.user_btns {
    float: right;
    margin-top: 40px !important;
}
aside {
  section.user_info {
    margin-top: 40px !important;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
    width: 90%;
    border: 2px solid #333;
    border-radius: 47.5%;
}
.gravatar-100px {
    max-width: 100px;
}
.gravatar-200px {
    max-width: 200px;
}
.gravatar_edit {
  margin-top: 15px;
}

/* forms */
.auto-width {
    width: auto;
}
.inline-form {
    display: inline;
}
div.edit {
    margin-top: 30px;
}
.fecha-input select {
    width: 70px;
}
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}
label {
    margin-right: 20px;
}
/*input, select, .uneditable-input {
  max-width: 150px;
}*/
.full-width {
    width: 100%;
}

input {
  height: auto !important;
}

#error_explanation {
  color: $rojo_web;
  ul {
    color: $rojo_web;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}
.etiqueta {
    font-style: italic;
    color: #999;
}

/* Sidebar users */
#users_sidebar {
    margin-top: 60px;
}
.sidebar-menu {
    list-style: none;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 0;
    text-align: center;
    a {
	margin: 0;
	text-decoration: none;
	color: black;
	&.nav-item-gral {
	    background: $azul_mktg_50;
	    &:hover {
		background: $azul_mktg;
	    }
	}
	&.nav-item-propio {
	    background: $rojo_web_50;
	    &:hover {
		background: $rojo_web;
	    }
	}
	&:hover {
	    font-weight: bold;
	    color: white;
	}

    }
}


/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* Deals */
.deal_edit_btns {
    margin: 0;
    float: right;
}
.btn.rojo {
    background: $rojo_web;
    border-color: #333;
}
.btn-new_deal {
    background: $rojo_web;
    border-color: #333;
}
.back-verde-linkable {
    background: rgba(131, 170, 48, 0.75) !important;
    cursor: pointer;
}
li.deal {
    padding-left: 1em;
    padding-right: 1em;
}
.deal_form {
    border-radius: 5px;
    margin-top: 0px;
    background: #eee;
    h1, h2, h3, h4, h5 {
	margin-left: 15px;
	color: $verde_logo1;
	margin-top: 10px;
	margin-bottom: 15px;
    }
}
.form-solo {
    margin-top: 40px;
}
#new_deal {
    margin-left: 15px;
    margin-right: 15px;
}
li.deal {
    margin-top: 1em;
    border-top: 1px solid #e8e8e8;
    padding: 10px 0 0 0;
    &:first-child {
	margin-top: 2em;
    }
}
#deal-acciones {
    margin-top: 65px;
}
.empresa-deal {
    margin-top: 25px;
    margin-bottom: 15px;
}
#deal-main, #empresa-main {
    #deal-estado, #deal-posesion {
	font-size: 150%;
	font-weight: bold;
	margin-bottom: 20px;
    }
}
.deal {
    .btn-edit_deal {
	background: rgb(66, 139, 202);	
    }
    .btn-new_accion {
	background: $verde_app;
    }
    .btn {
	color: #333;
	border: 1px solid #333;
	padding: 0.2em 0.5em !important;
	a:hover {
	    text-decoration: none;
	}
    }
}
.deal-fechas {
    margin-bottom: 1em;
}
.titulo-empresa {
    color: $rojo_web;
}
.deal-empresa {
    font-family: Multicolore;
}
.empresa {
    font-size: 120%;
}
.deal-user {
    color: gray;
    font-size: 120%;
}
.posesion-true {
    color: $rojo_web;
}
.posesion-false {
    color: $azul_mktg;
}
.estado {
    font-weight: bold;
}
.estado-ganado {
    color: $verde_app;
}
.estado-perdido {
    color: $rojo_web;
}
.estado-en_progreso {
    color: $azul_mktg;
}
.deals-propios {
    clear: both;
    margin-top: 60px;
}
.codeals {
    clear: both;
    margin-top: 60px;
}
.tabla-deals, .tabla-codeals {
    tr:nth-child(even) {
	background: $back_tabla_1;
    }
    tr:nth-child(odd) {
	background: $back_tabla_2;
    }
}
.btn-compa {
    width: 50%;
    position: relative;
}
.btn-echar {
    background: #eee;
    &:hover {
	background: #d9534f;
    }
}
.btn-invitar {
    background: #eee;
    &:hover {
	background: #428bca;
    }
}
.titulo-compa {
    width: 50%;
    font-weight: bold;
    font-size: 120%;
    text-align: center;
}
.participa {
    position: relative;
    left: 0;
}
.no_participa {
    position: relative;
    left: 50%;
}
#companeros-edit {
    margin-top: 40px;
    display: flex;
}

/* Empresas */
#empresa-resumen {
    ul {
	list-style: none;
    }
    h2 span {
	color: #ccc;
    }
}

/* Productos */
li.producto {
    line-height: 200%;
}
.producto-nombre {
    font-family: Multicolore;
}