@import 'colores';

.simple-calendar {
  .day {}

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {
      background-color: $back_tabla_1 !important;
  }

  .today {
      background-color: $amarillo_fondo !important;
      &, a {
	  /*color: white;*/
      }
  }

  table, thead tr th, .calendar-heading {
      text-align: center;
  }
  .calendar-heading {
      margin-bottom: 15px;
  }
  .calendar-title {
      font-weight: bold;
  }
  table {
      border: 1px solid $gris !important;
  }
  thead tr th {
      background-color: $gris_nav !important;
      color: $gris;
      border-bottom: 1px solid black !important;
      border-top: 1px solid black !important;
      border-left: 1px solid black !important;
      border-right: 1px solid black !important;
  }
  td {
      border: 1px solid $gris_nav !important;
  }
}