<div class="sidebar-menu list-group">
  <%= link_to "Agentes", users_path, class:"list-group-item" %>
  <%= link_to "Productos", productos_path, class:"list-group-item"%>
  <%= link_to "Empresas", root_path, class:"list-group-item" %>
</div>
